<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Business Contacts List View Template -->
<div class="container">
    <h1 class="text-center my-5">Business Contacts</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through the contacts and display each one in a table row -->
        <% contacts.forEach(contact => { %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.phone %></td>
          <td>
            <a href="/update/<%= contact._id %>" class="btn btn-primary">Edit</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  

</body>
</html>